<!-- <app-header>
</app-header>
<router-outlet>
</router-outlet>
<app-landing-page></app-landing-page> -->
<!-- 
<app-test></app-test>
<div class="container" style="z-index:-100; position:absolute; left:0; top:0; min-height:50%; min-width:100%; background: linear-gradient(#1B1A1D, #545155 80%);">
    <div class="row">
    </div>
</div>
<div class="container" style="z-index:-100; position:absolute; left:0; bottom:0; min-height:50%; min-width:100%; background: linear-gradient(#545155, #282627 80%);">
    <div class="row">
    </div>
</div> -->


<app-test></app-test>